{% extends "base.html" %}

{% block content %}
<div>
    <h1>List des applications prospect</h1>

    <table>
        <!-- Table Header Row -->
        <thead>
            <tr>
                <th>Nom</th>
                <th>Mail</th>
                <th>Nom de l'application</th>
                <th>Url de l'application</th>
            </tr>
        </thead>

        <!-- Table Element (Row) -->
        <tbody>
            <td>{{ prospect_app_data.username }}</td>
            <td>{{ prospect_app_data.email }}</td>
            <td>{{ prospect_app_data.appname }}</td>
            <td>{{ prospect_app_data.appurl }}</td>
        </tbody>
    </table>
</div>
{% endblock %}