{% extends "base.html" %}

{% block content %}
<div>
    <h1>List des applications prospect</h1>

    <table>
        <!-- Table Header Row -->
        <thead>
            <tr>
                <th>Nom</th>
                <th>Mail</th>
                <th>Nom de l'application</th>
                <th>Url de l'application</th>
                <th>Admin step</th>
            </tr>
        </thead>

        <!-- Table Element (Row) -->
        <tbody>
          {% for app in data %}
            <tr>
              <td>{{ app.username }}</td>
              <td>{{ app.email }}</td>
              <td>{{ app.appname }}</td>
              <td>{{ app.appurl }}</td>
              <td>
                {% if app.is_processed %}
                  {{ app.is_valid }}
                {% else %}
                  <form method="post">
                    <input type="submit" value="approve">
                    <input type="submit" value="reject">
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
